nav{
    display: flex;
    font-size: large;
    gap: 50px;
    border-radius: 5px;
    padding: 20px;
    
}

   ul button{
    margin: 20px;
    border-radius: 5px;
    cursor: pointer;
    background-color: azure;
    color: black;
    border: solid 1px cornflowerblue;
     
}

div{
    background-color: azure;
    color: black;
    border-radius: 10px;
    
}

