.profile-card{
    display: flex;
    flex-direction: column;
    width: 30%;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: white;
    width: 30%;
    background-color: cornflowerblue;
    padding: 30px 20px;
    border-radius: 20px;
    margin: 50px auto;
}

.profile-card img{
    border-radius: 50%;
    width: 50%;
    height: 200px;
    object-fit: cover;

}
